<h1>Epicodus Students</h1>
<ul>
@foreach(var student in Model)
{
  <li><a href="/students/@student.GetId()/">@student.GetName()</a></li>
}
</ul>

<hr>
<a href="/" class="btn btn-success">Home Page</a>